@using AspCore_Course.Models
@model Product
@{
    ViewData["title"] = "نمایش محصول";
}
<div class="container">
    <div class="push-up top-equal blocks-spacer">

        <!--  ==========  -->
        <!--  = Product =  -->
        <!--  ==========  -->
        <div class="row blocks-spacer">

            <!--  ==========  -->
            <!--  = Preview Images =  -->
            <!--  ==========  -->
            <!--  ==========  -->
            <!--  = Title and short desc =  -->
            <!--  ==========  -->
            <div class="span7">
                <div class="product-title">
                    <h1 class="name"> @Model.ProductName</h1>
                    <div class="meta">
                        <span class="tag">@Model.ProductPrice تومان</span>
                        <span class="stock">
                            <a asp-controller="File" asp-action="AddToCard" asp-route-id="@Model.Id" class="btn btn-danger">افزودن به سبد خرید</a>
                        </span>
                    </div>
                </div>
                <div class="product-description">
                    <p>@Model.Desc</p>
                    <hr>
                    @if(User.Identity.IsAuthenticated)
                    {
                        <form asp-Controller="File" asp-action="CreateComment"
                        data-ajax="true"
                        data-ajax-method="post"
                        data-ajax-mode="replace"
                        data-ajax-update="#commentList"
                        data-ajax-success="finish">
                            <input type="hidden" name="comment.ProductId" value="@Model.Id"/>
                            <div class="control-group">
                    <div class="controls">
                        <textarea type="text" id="commentTXT" name="comment.CommentText" class="input-block-level" placeholder="متن نظر"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">ثبت نظر</button>
                </div>
                        </form>
                    }
                    else
                    {
                        <div class="alert alert-warning">
                            کاربر گرامی برای ثبت نظر خود باید وارد شوید
                        </div>
                    }
                    <div id="commentList" name="commentList">

                    </div>

                </div>
            </div>
        </div>


    </div>
</div>
@section Scripts{
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>

    <script>
        $(function ShowComment() {
            $("#commentList").load("/file/ShowComment/" + @Model.Id);
        });
        function finish()
        {
            $("#commentTXT").val("");
        }
    </script>

        }